/*
rederik van veen, 10789324
css file for bartchart.html
*/

          svg.circle {
              display: inline-block;
              width: 20px;
              height: 75px;   /* We'll override this later */
              fill: teal;
              margin-right: 2px;
          }



          svg.axis line {
              fill: none;
              stroke: black;
              shape-rendering: crispEdges;
          }
          .axis text {
            fill:black;
            text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
            cursor: move;
          }
          .text{

          }


          div.tooltip {
            color: white;
            position: absolute;
            text-align: center;
            width: 60px;
            height: 30px;
            padding: 2px;
            font: 12px sans-serif;
            background: rgba(0,0,0,.8);
            border: 2px solid green;
            color: #fff;
            pointer-events: none;
          }

          .legend {
            padding: 5px;
            font: 10px sans-serif;
            background: yellow;
            box-shadow: 2px 2px 1px #888;
          }

          .title {
            font: 13px sans-serif;
          }
